.venv/
__pycache__/
.prompty/
.env
config.json
eval/downloaded_artifacts/remote/eval_results.jsonl
connections/create-connections.py
data/customer_info/create-cosmos-db.py
data/product_info/create-azure-search.py
deployment/push_and_deploy_pf.py
endpoint.json
principal.txt
.azure
evaluators/process_log/
evaluators/flow.flex.yaml
evaluators/eval_result.**
evaluators/studio_url.txt
src/contoso_chat/.runs/*
src/api/contoso_chat/.runs/*
src/api/.runs/*
.runs/*
evaluators/.runs/*
evaluators/result_evaluated.jsonl
evaluators/result.jsonl
src/api/evaluators/.runs/*
src/api/evaluators/result_evaluated.jsonl
src/api/evaluators/result.jsonl
src/api/evaluators/eval_results.jsonl
src/api/evaluators/eval_results.md
src/api/evaluators/.runs/*
src/api/result_evaluated.jsonl
src/api/result.jsonl
src/api/eval_results.jsonl
src/api/eval_results.md
docs/workshop/site
sandbox/*
docs/workshop/docs/.DS_Store
