azure-cosmos
azure-ai-ml
azure-ai-resources
azure-search-documents==11.4.0
azure-identity==1.17.1
python-dotenv==1.0.1
jsonlines
prompty
prompty[azure]
nbconvert
Jinja2==3.1.4
opentelemetry-sdk 
azure-monitor-opentelemetry
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation
opentelemetry-exporter-otlp-proto-grpc
azure-ai-evaluation
azure-monitor-query
uvicorn
opentelemetry-instrumentation-openai-v2
# azure-ai-inference[opentelemetry]  ./packages/whl packages
# azure-ai-projects is not available in PyPI install it from the ./packages/whl packages
./packages/whl-packages/azure_ai_inference-1.0.0b6-py3-none-any.whl
./packages/whl-packages/azure_ai_projects-1.0.0b1-py3-none-any.whl