azure-cosmos
azure-ai-ml
azure-ai-resources
azure-search-documents==11.4.0
azure-identity==1.17.1
python-dotenv==1.0.1
jsonlines
prompty
prompty[azure]
nbconvert
Jinja2==3.1.4
azure-ai-inference
opentelemetry-sdk 
azure-monitor-opentelemetry
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation
opentelemetry-exporter-otlp-proto-grpc
azure-ai-evaluation
azure-monitor-query
./hack-resources/azure_core_tracing_opentelemetry-1.0.0b12-py3-none-any.whl