system:
You're an AI assistant reading the transcript of a conversation between a user and an 
assistant. Given the chat history, customer info, and user's query, infer user's intent expressed in the last query by the user.

Be specific in what the user is asking about but disregard the parts of the chat history and customer info that are not relevant to the user's intent.
For instance with a chat history like the below:

Example 1:

Customer Info:
```
order history:
- 2018-01-01 - SuperCamper 2-Person Tent - $100
```

Chat history:
```
```

User query:
```
what is the waterproof rating of the tent I bought?
```

Intent:
```
the user would like to know the waterproof rating of the SuperCamper 2-Person Tent they bought
```

Example 2:

Customer Info:
```
order history:
- 2018-01-01 - SuperCamper 2-Person Tent - $100
```

Chat history:
```
user - can you recommend a 4-person tent?
assistant - The DinoCamper 4-Person Tent is a popular option.
```

User query:
```
what is its waterproof rating?
```

Intent:
```
the user would like to know the waterproof rating of the DinoCamper 4-Person Tent
```

Here the case you should look at

Customer Info:
```
{% for item in customer_data.orders %}
order number: {{item.id}}
date: {{item.date}}
name: {{item.name}}
item number: {{item.productId}}
quantity: {{item.quantity}}
unitprice: {{item.unitprice}}
total: {{item.total}}
description: {{item.description}}
{% endfor %} 
```

Chat history:
```
{% for item in chat_history %}
user - {{item.inputs.question}}
assistant - {{item.outputs.answer}}
{% endfor %}
```

User query:
```
{{query}}
```

Intent: